[Desktop Entry]
Name=EnvStation
Comment=Control Center for reproducible environments using Distrobox and Devcontainers
Exec=envstation
Icon=io.github.kubaguette.EnvStation
Terminal=false
Type=Application
Categories=Development;Utility;System;
StartupNotify=true
StartupWMClass=envstation